<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="todo">
</div>

<script type="text/template" id="item-template"
  <div>
    <input id="todo_complete" type="checkbox"
    <%= completed? "checked" : "" %>>
    <%= title %>
  </div>
</script>

<script src="underscore-min.js"></script>
<script src="jquery.min.js"></script>
<script src="backbone-min.js"></script>
<script>
/*

#TODO: Add items collection

   */
var ListView = Backbone.View.extend({
  el: '#todo',
  render: function() {
    var items = this.model.get('items');
    _.each(items, function(item) {
      var itemView = new ItemView({model: item});
  //    this.$el.html(this.template(this.model.attributes));
      this.$el.append(itemView.render().el);
    }, this);
  }
})

myView = new ListView()

var ItemView = Backbone.View.extend({
  events: {},
  template: _.template($("#item-template").html()),
  render: function() {
    this.$el.html(this.template(this.model.attributes));
    return this;
  }
})
</script>
</body>
</html>
